/* Global Styles */
:root {
    --darkhue: #3E53A4;
    --lighthue: #118FE0;
}
body {
    background-image: linear-gradient(rgba(28, 128, 93, 0.693) 0%,rgba(9, 71, 41, 0.717) 100%);
}

p {
    color: var(--darkhue);
}

/* Header */
h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: var(--darkhue);
    display: inline-block;
}

a { 
    text-decoration: none;
    color: var(--darkhue)
}

nav {
    float: right;
    font-size: 24px;
    font-family:'Courier New', Courier, monospace;
}

nav ul{
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

 /* hero banner */
 figure{
    background-image: url('../images//THPF-Web-Art-Gallery-Harwood-Steiger-7.jpg');
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    display: flex;
    padding: 2%;
    color: aliceblue;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

 figure div {
     flex: 0 0 90%
 }

 figure div h1{
     background-color:rgb(245, 218, 186);
     color: var(--lighthue);
     margin: 0;
     padding: 4px;
     display: inline;
     font-size: 40px;
     font-family: 'Roboto Condensed', sans-serif;
 }

 /* Hero banner adjustments at 992px or smaller */
@media screen and (max-width: 992px) {
    figure {
        width: 90%;
    }
    figure div h1 {
        font-size: 30px;
    }
}

 /* Body */

 main {
     margin-left: 75px;
     margin-right: 75px;
 }

 .flexabout {
     display:flex;
     column-gap: 15px;
 }

p {
    max-width: 85%;
}
 .headshot {
    max-height: 200px;
    padding-top: 20px;
}

h2 {
    font-family:monospace;
    color: var(--darkhue);
    font-size: 24px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.horiseon img {
    max-width: 2000px;
    max-height: 550px;
    flex-basis: 35%;
    flex-grow: 8;
    align-self: center;
    gap 200px 20px 200px 20px;
}

.tbd2 img {
    flex-grow: 1;;
}

.tbd3 img {
    flex-grow: 1;
}

.tbd4 img {
    flex-grow: 1;
}

section div p {
    font-size: 20px;
    margin-top: 5px;
}

 /* Footer */
 h3 {
     text-align: center;
     font-size: 16px;
 }